*{
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-family: 'Saira Semi Condensed', sans-serif;
}

body {
  height: 2000px;
}

a {
  text-decoration: none;
  color: black;
}

/*----------------------------------------------- This is where navbar made ------------------------------------------------------------- */
#navbar {
  padding: 0 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-logo {
  flex-grow: 1;
  padding: 10px 20px;
}

.nav-logo a {
  font-size: 30px;
}

.nav-info ul {
  display: flex;
  list-style: none;
}

.nav-info ul li {
  padding: 10px 20px;
  position: relative;
}

.nav-info ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: 7px;
  left: 0;
  transition: 0.3s;
}

.nav-info ul li a:hover::after {
  width: 100%;
}



/*-------------------------------------------------- This is hero section ------------------------------------------------------------------*/
#hero-section {
  background-image: url("/3hourwebsite/pexels-george-becker-129742.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.hero-con {
  color: white;
  padding: 0 10%;
}

.hero-inner-con {
  margin-top: 30%;
}

.hero-inner-con h2 {
  font-size: 2.3rem;
  font-weight: 200;
  text-align: center;
}

.hero-inner-con h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 60px;
}

.hr {
  margin: 20px 0 10px 0;
  border-color: rgba(0, 0, 255, 0.26);
}

.hero-text {
  margin-bottom: 30px;
  text-align: center;
}

.hero-btn-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-btn{
  background-color: rgba(0, 94, 255, 0.627);
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: rgb(0, 94, 255);
}



/*-------------------------------------------------- This is about section ------------------------------------------------------------------*/

#about-section {
  padding: 0 2%;
}

.about-us {
  font-size: 50px;
  position: relative;
}

.about-us::after {
  content: "";
  position: absolute;
  background-color: blue;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.about-inner-con {
  margin: 2% 0 3% 0;
}

.about-inner-con2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
}

.about-inner1 h2 {
  font-size: 35px;
  letter-spacing: 3px;
}

.about-inner1 h4 {
  font-weight: 400;
  line-height: 3px;
  padding-top: 25px;
}

.about-inner1 p {
  text-indent: 30px;
  line-height: 1.6rem;
}

.about-inner2 {
  position: relative;
  min-height: 55vh;
}


.about2 {
  position: absolute;
  max-width: 35%;
  bottom: 1%;
  z-index: 2;
  left: 40%;
}

.about3 {
  position: absolute;
  max-width: 50%;
  z-index: 1;
}

.about-img2, .about-img3, .about4 img, .about5 img {
  width: 100%;
  border-radius: 20px;
}

.about-two-con {
  margin-top: 3%;
}

.about-inner-con3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about2-inner1 {
  position: relative;
  min-height: 55vh;
}

.about2-inner2 {
  display: flex;
  align-items: center;
}

.about4 {
  position: absolute;
  max-width: 35%;
  bottom: 1%;
  z-index: 2;
  left: 40%;
}

.about5 {
  position: absolute;
  max-width: 50%;
  z-index: 1;
}

.about-one-con {
  border: 1px solid blue;
  margin-top: 3%;
}
