* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-con {
  margin-top: 5%;
  max-width: 600px; /* Limit the maximum width for better readability on larger screens */
  width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.inputting-task-con {
  background-color: #343434;
  padding: 2%;
  border-radius: 10px;
}

.inpputing-con {
  display: flex;
  flex-direction: column; /* Stack the input and button vertically on small screens */
}

.text-inpputer {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.enter-btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #2222fa;
  color: #ffffff;
  padding: 10px;
  width: 100%;
}

#display-text {
  margin-top: 5%;
}

.task-text {
  background-color: #343434;
  padding: 2%;
  border-radius: 10px;
}

.ul li {
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  padding: 2%;
  list-style: none;
}

.ul span {
  font-size: 16px;
}

.delete-btn {
  background-color: #ff0000;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
  margin-left: 10px;
}

.your-text {
  color: #FFFFFF;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .text-inpputer,
  .enter-btn {
    font-size: 16px;
  }
}
